<!--
{% extends 'base.html' %}


{% block head %}

{% endblock %}

{% block body %}

-->
<div style ="margin:auto; text-align: center;padding-top: 10%">
    <h1>Login Page</h1>
    <form method ="POST">
        Username
        <input type="text" name="username">
        <br>
        Password
        <input type="text" name="password">
        <br>
        <button type="submit">Login</button>
    </form>
</div>
<div style="margin:auto;text-align: center">
    <a href="signup.html">Sign Up</a>
</div>
{%endblock%}